---
import Image from "astro/components/Image.astro";

import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Biología Marina | Pablo Dive"
  description="Descubre dónde puedes estudiar sobre biología marina con la experiencia de Pablo Dive"
>
  <section
    class="min-h-screen flex items-center justify-center bg-white px-6 py-12"
  >
    <div class="max-w-4xl mx-auto text-center fade-in">
      <p class="text-sm uppercase tracking-widest text-slate-500 mb-4">
        ¿Dónde puedes adentrarte y estudiar sobre Biología Marina?
      </p>
      <h1
        class="text-3xl md:text-5xl font-light mb-6 text-slate-900 leading-tight"
      >
        Biología Marina
      </h1>

      <p
        class="text-base md:text-lg text-center text-slate-600 font-light max-w-3xl mx-auto mb-4 leading-relaxed"
      >
        Esta es, sin duda, una de las preguntas que más se repiten. Realicé el
        Grado en Biología en la ULL (Universidad de La Laguna), y
        posteriormente, el Máster en Biología Marina: Biodiversidad y
        Conservación, también en la ULL. En España, actualmente sólo existen dos
        opciones para obtener el título de biólogo marino como tal: en Galicia y
        Tenerife
      </p>

      <p
        class="text-base md:text-lg text-center text-slate-600 font-light max-w-3xl mx-auto mb-4 leading-relaxed"
      >
        Como soy de Tenerife y vivo aquí, evidentemente quería estudiarlo en la
        isla, pero me desmotivaba bastante la idea de volver a la ULL. En este
        <a href="https://www.ull.es/masteres/biologia-marina-biodiversidad/"
          >enlace</a
        >, encontrarás la web del máster, donde podrás ver los requisitos de
        acceso y empezar a prepararte. Ten en cuenta que, cuanto más puntos
        tengas, más posibilidades tendrás de entrar.
      </p>

      <p
        class="text-base md:text-lg text-center text-slate-600 font-light max-w-3xl mx-auto mb-4 leading-relaxed"
      >
        Considero que es un máster muy bueno, tanto por el nivel como por el
        profesorado que lo imparte. Mi intención desde el principio era irme de
        Canarias para hacer las prácticas y el TFM, y así fue: terminé en el
        lugar que más deseaba, Baja California Sur, México. Contacté con el
        doctor Felipe Galván Magaña, quien me aceptó para una estancia en el
        CICIMAR, en su laboratorio de Ecología de Tiburones y Rayas. Allí
        realicé mis prácticas y mi TFM, que posteriormente presenté al regresar
        a Tenerife.
      </p>
    </div>
  </section>
</Layout>
