<footer class="bg-gradient-to-b from-cyan-950 to-slate-900 text-white py-12">
  <div class="container mx-auto px-4 text-center">
    <p class="text-lg md:text-xl text-slate-700">Pablo Dive</p>
    <p class="text-sm md:text-base opacity-50 mt-2">
      Biólogo Marino • Divulgador Ambiental • Tenerife, España
    </p>
    <div
      class="mt-6 text-sm md:text-base text-slate-700 flex flex-col items-center"
    >
      <span>
        Made with <span aria-label="love">❤️</span> by
        <a
          href="https://www.linkedin.com/in/rubenafonsodev/"
          target="_blank"
          rel="noopener"
          class="underline hover:text-cyan-700">Rubén Afonso</a
        >
      </span>
    </div>
  </div>
</footer>
